html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	overflow: hidden;
}

#container{
	position:relative;
	opacity: 0;
	height: 100%;
	width: 100%;
	transition-duration: 2s;
}

.canvas{
	width:100%;
	position:absolute;
	z-index: 20;
}

#versionText{
	position: absolute;
	right: 16px;
	top: 0%;
	z-index: 999;
	color: white;
}


#mapWrapper {
	backface-visibility: hidden;
	position: absolute;
	padding-top: 0%;
	padding-left: 0%;
	margin: 0%;
	width: 100vw;
	height: 100vw;
	transform-origin: 0px 0px;
	transform: translate(0px, 0px) scale(1);
	transition-duration: 0s;
}

#map{
	margin: 0%;
	padding: 0%;
	padding-top: 0%;
	margin-top: 0%;
	height: 100%;
	position: absolute;
}

#sliderWrapper{
	min-width: 70px;
	position: relative;
	height: 100%;
	width: 5%;
	top: 0;
	left: 0;
	z-index: 21;
}

#sliderCanvas{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 21;
}


#slider{
	position: absolute;
	height: 100%;
	width: 100%;
	top: -50vw;
	left: 0;
	background: rgb(0,170,233);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,243,74,1) 20%, rgba(217,45,138,1) 55%, rgba(0,170,233,1) 80%, rgba(0,0,0,1) 100%);
	z-index: 20;
}

#sliderArticleContainer{
	margin-top: 100%;
	right: 0%;
	height: 100%;
	width: 100%;
	position: relative;
}

.articleTag{
	position: absolute;
	font-size: 25px;
	color: white;
	z-index: 999;
	position: absolute;
	transition-duration: 0.3s;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.articleSliderTag{
	font-size: 10px;
	margin-left: 110%;
	position: relative;
	font-size: 25px;
	color: white;
	z-index: 999;
	transition-duration: 0.3s;
	white-space: nowrap;
}

#aboutBtn{
	cursor: pointer;
}

button{
	left: 50%;
	top: 10%;
	position: absolute;
}

#starmap{
	width: 100%;
	height: 45vw;
	position: absolute;
	margin: 0;
	display: inline-block;
	opacity: 0;
	overflow-Y: scroll;
	overflow-X: hidden;
	transition-duration: 1.3s;
}

#starmapImage{
	width: 100%;
	height: 150%;
	position: absolute;
	margin: 0;
	display: inherit;
	opacity: inherit;
}

#logoGif{
	position: fixed;
	opacity: 0;
	display: block;
	width: 40vw;
	height: 20vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition-duration: 1s;
	z-index: 999;
}