html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #030303;
	overflow: hidden;
	-webkit-transform: translateZ(0);
}

#container{
	position:relative;
	opacity: 0;
	height: 100%;
	width: 100%;
	transition-duration: 2s;
}

.canvas{
	width:100%;
	position:absolute;
	z-index: 20;
}

#versionText{
	position: absolute;
	right: 16px;
	top: 0%;
	z-index: 999;
	color: white;
}

#muteContainer{
	position: absolute;
	height: 4%;
	width: 3%;
	max-width: 10%;
	right: 2%;
	bottom: 5%;
}

#muteImage{
	display: block;
	position: absolute;
	height: 100%;
	width: auto;
	top: 0%;
}

#unmuteImage{
	display: block;
	position: absolute;
	height: 100%;
	width: auto;
	top: 0%;
}


#mapWrapper {
	backface-visibility: hidden;
	position: absolute;
	padding-top: 0%;
	padding-left: 0%;
	margin: 0%;
	width: 100vw;
	height: 100vw;
	transform-origin: 0px 0px;
	transform: translate(0px, 0px) scale(1);
	transition-duration: 0s;
}

#map{
	margin: 0%;
	padding: 0%;
	padding-top: 0%;
	margin-top: 0%;
	height: 100%;
	position: absolute;
}

#sliderWrapper{
	min-width: 70px;
	position: relative;
	height: 100%;
	width: 5%;
	top: 0;
	left: 0;
	z-index: 21;
}

#sliderCanvas{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 21;
}


#slider{
	position: absolute;
	height: 100%;
	width: 100%;
	top: -50vw;
	left: 0;
	background: rgb(0,170,233);
	background: linear-gradient(0deg, rgba(3,3,3,1) 0%, rgba(255,243,74,1) 20%, rgba(217,45,138,1) 55%, rgba(0,170,233,1) 80%, rgba(3,3,3,1) 100%);
	z-index: 20;
}

#sliderArticleContainer{
	right: 0;
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	z-index: 19;
}

.articleTag{
	position: absolute;
	font-size: 25px;
	color: white;
	z-index: 999;
	position: absolute;
	transition-duration: 0.3s;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.articleSliderTag{
	display: inline-block;
	font-size: 10px;
	margin-left: 100%;
	height: 100%;
	position: absolute;
	font-size: 25px;
	color: white;
	z-index: 999;
	transition-duration: 0.3s;
	white-space: nowrap;
}

.articleSliderTag .article-indicator{
}
.articleSliderTag .article-indicator .article-dot{
	background: #FFF;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	z-index: 999;
}
.articleSliderTag .article-indicator .article-title{
	display: none;
}
.articleSliderTag .article-indicator:hover .article-title{
	display: inline-block;
}

#aboutBtn{
	cursor: pointer;
}

button{
	left: 50%;
	top: 10%;
	position: absolute;
}

#starmap{
	-webkit-transform: translateZ(0);
	width: 100%;
	height: 70vw;
	position: absolute;
	margin: 0;
	display: block;
	opacity: 0;
	overflow-Y: scroll;
	overflow-X: hidden;
	transition-duration: 1.3s;
}

#starmapImage{
	-webkit-transform: translateZ(0);
	width: 100%;
	height: 150%;
	position: absolute;
	margin: 0;
	display: inherit;
	opacity: inherit;
	z-index: 100;
}

#YMTLogo{
	position: absolute;
	width: 10%;
	height: auto;
	right: 16px;
	right: 16px;
	top: 1%;
	right: 1%;
	z-index: 999;
	color: white;
}

#logoGif{
	-moz-transform: rotate(0);
	position: fixed;
	opacity: 0;
	display: inline-block;
	width: 40vw;
	height: 20vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition-duration: 0.5s;
	z-index: 999;
}

.starmapItem{
	width: 15%;
	display: inline-block;
	position: relative;
	height: auto;
	margin: 5%;
	z-index: 100;
}

#starmapItemContainer{
	width: 50%;
	height: auto;
	display: block;
	position: relative;
	margin-left: 35%;
	z-index: 100;
}

.starmapName{
	font-size: 1vw;
	color: white;
	font-weight: bold;
}

.starmapInfo1{
	font-size: 0.5vw;
	color: white;
	font-weight: normal;
}

.starmapItemImage{
	margin-bottom: 5%;
}

.starmapGroupTitle{
	font-size: 2vw;
	color: white;
	display: block;
}