html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: black;
}

#container{
	position:relative;
	height: 100%;
	width: 100%;
}

.canvas{
	width:100%;
	position:absolute;
	z-index: 20;
}

#versionText{
	position: absolute;
	right: 16px;
	top: 0%;
	z-index: 999;
	color: white;
}


#mapWrapper {
	backface-visibility: hidden;
	position: absolute;
	padding-top: 0%;
	padding-left: 0%;
	width: 100%;
	transform-origin: 0px 0px;
	transform: translate(0px, 0px) scale(1);
	transition-duration: 0s;
}

#map{
	width: 100%;
	position: absolute;
}

#slider{
	position: absolute;
	height: 100%;
	width: 5%;
	top: 0;
	left: 0;
	background: rgb(0,170,233);
	background: linear-gradient(0deg, rgba(255,243,74,1) 0%, rgba(0,170,233,1) 50%, rgba(217,45,138,1) 100%);
	z-index: 21;
}